#wrapper{
	background-color: rgba(211,211,211,0.9);
	width: 90%;
	height: 90%;
	margin: auto;
	position: relative;
	top: 5%;
	color: black;
}
#password{
	position: relative;
	left: 19%;	
}
#email{
	position: relative;
	left: 29.5%;
}
#name{
	position: relative;
	left: 29.5%;
}
form{
	height: 80%;
	padding-top: 5%;
}
form>span{
	height: calc(100%/6);
	display: block;
	margin-left: 10%;
}
input{
	background: transparent;
}
input[type=text], input[type=email], input[type=password]{
  height:50%;
  width: 50%;
  border: 0;
  box-shadow: -8px 10px 0px -7px #ebebeb, 8px 10px 0px -7px #ddd;
  transition: box-shadow 0.3s ease-in-out;
  font-size: 1.5vw;
  color: #00cc99;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:hover{
  outline: none;
  box-shadow: -8px 10px 0px -7px #00cc99, 8px 10px 0px -7px #00cc99;
}
input[type=radio]{
	display: none;
}
input[type=submit]{
	margin-top: 5%;
	height: 100%;
	width: 20%;
	max-width: 20%;
	font-size: 1.3vw;
	position: relative;
	left: 70%;
	transition: color 0.5s ease-in-out, background 0.5s ease-in-out;
	border: none;
	border-radius: 10%;
	background-color: #1cb295;
	color:white;
}
.invalid::-webkit-input-placeholder{
	color: red;
}
::-webkit-input-placeholder{
	transition: color 0.25s ease-in-out;
	font-size: 1.2vw;
}
#gender{
	transition: color 0.25s ease-in-out;
}
input[type=submit]:hover{
	color: #00cc99;
	background-color: #ddd;
}
input, select{
	margin-left: 5%;
}
select{
	font-size: 1.1vw;
	color: #00cc99;
	border: none;
	border-radius: 1vw;
	background-color: #ddd;
	position: relative;
	left: 1.5%;
}
.form_content{
	display: inline-block;
	width: 45%;
	max-width: 45%;
	height: 50%;
	max-height: 50%;
	position: relative;
	top: 20%;
}
#account_subscription{
	padding-left: 5%;
}
#account_desc{
	text-align: center;
	font-size: 1.5vw;
	border-left: 3px #00cc99 dashed;
}
#account_desc>p{
	margin-top: 5%;
	position: relative;
	left: 5%;
}
span>label{
	font-size: 1.2vw;
}

.gender{
	position: relative;
	left: 26%;
	margin-left: 3%;
	transition: color 0.3s ease-in-out, background 1s ease-in-out;
}

.gender.active{
	color: #00cc99;
}