body, html{
	margin: 0;
	height: 100%;
	color: white;
	text-shadow: 1% 1% #aaa;
	font-family: Copperplate,"Copperplate Gothic Light",fantasy;
	margin: auto;
}
html{
	background-image: url('../Img/bg2.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
body{
	width: 90%;
}
div{
	vertical-align: top;
}
.content-ads{
	display: inline-block;
	
}
a{
	text-decoration: none;
	color: inherit;
	height: 0;
}
#normal-content{
	height: 100%;
	width: 100%;
}
#warning{
	display: none;
	text-align: center;
	position: relative;
	top: 50%;
	margin: 0 auto;
	border: 0.5vw solid #ddd;
	border-radius: 2vw;
	font-size: 5vw;
	background-color: rgba(221,221,221,0.7);
	width: 60%;
}
/*header*/
#header{
	/*background-color: #00cc99;*/
	display: flex;
	align-items: center;
    width: 100%;
    height: 15%;
}

#logo{
    width: 6%;
    height: 80%;
    margin: 2%;
}
#companyName{
	font-size: 3.5vw;
	margin: 0 0 0 1%;
}
.headerElement{
	align-items: stretch;
	display: inline-block;
	cursor: pointer;
}

/*navigation*/
#nav{
	width: 100%;
	height: 5%;
}
.nav-tabs{
	height: 100%;
	display: inline-block;
	width: 16.66%;
	text-align: center;
	font-size: 1.5vw;
	cursor: pointer;
	transition: background .25s ease-in-out, color .5s ease-in-out;
}
.nav-tabs.active{
	color: #00cc99;
	background-color: rgba(221, 221, 221, 1);
	transition: background .25s ease-in-out, color .5s ease-in-out;
	border-bottom: 0.3vw solid #00cc99;
	box-sizing: border-box;
}
.nav-tabs:hover{
	background-color: #00cc99;
	color: white;
	box-sizing: border-box;
	border-bottom: 0.3vw solid #ddd;
}
/*content*/
#content{
	width: 90%;
	vertical-align: top;
	height: 80%;
	transition: width .5s ease-in-out;
	background-color: rgba(221,221,221, 0.5);
}

/*ads*/
#ads{
	position: fixed;
	top: 30%;
	right: 0;
	width: 5%;
	z-index: 12;
	text-align: center;
	background-color: rgba(0, 204, 153, 0.3);
	padding: 1%;
	border: 1vw solid #00cc99;
	border-radius: 2vw 0 0 2vw;
}
#ads>p{
	font-size: 1.1vw;
	margin: 0;
}
#ads>p:nth-of-type(1){
	padding: 2%;
	border-bottom: 0.3vw solid #00cc99;
}
#ads>img:not(#close){
	width: 50%;
	margin-top: 10%;
	margin-bottom: 10%;
}
.ads-name{
	transition: opacity 1s;
}
.ads-img{
	transition: opacity 1s;
}
#show{
	display: none;
	position: fixed;
	right: 0;
	top: 30%;
	z-index: 12;
	word-wrap: break-word;
	width: 5%;
	cursor: pointer;
	font-size: 1vw;
	background-color: #00cc99;
	color: white;
	transition: color 0.8s;
	transition: background 0.8s;
	border-radius: 12px 0 0 12px;
}
#show:hover{
	color: black;
	background-color: white;
}
#close{
	cursor: pointer;
	position: absolute;
	top: -9%;
	width: 25%;
	right: -15%;
}

/*footer*/
#footer{
	display: none;
	background-color: #373F48;
	height: 20%;
	color: white;
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: 0;
	transition: opacity 1s;
	z-index: 10;
	left: 0;
}

#show-footer{
	height: 5%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: grey;
	border-radius: 0 1vw 0 0;
	width: 10%;
	text-align: center;
	cursor: pointer;
	transition: opacity 1s;
	z-index: 10;
	cursor: pointer;
	font-size: 1vw;
	font-weight: bold;
}
#show-footer>p{
	position: relative;
	top: -15%;
}
.footer-content{
	display: inline-block;
	width: 49%;
}

.footer-content:nth-of-type(1){
	position: relative;
	top: 40%;
}
.footer-content:nth-of-type(2){
	border-left: 0.2vw dotted #ddd;
	height: 100%;
}
.footer-content>img{
	width: 6%;
	transition: width 0.25s ease-in-out;
	margin-left: 5%;
	margin-right: 5%;
}
.footer-content>img:hover{
	width: 7%;
}
.footer-content>p{
	margin: 1.5%;
}
.footer-content>p:nth-of-type(3), .footer-content>img{
	display: inline-block;
}

.modal{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
}
.modal-content{
	width: 50%;
	height: 50%;
	background-color: #00cc99;
	border-radius: 1vw;
	position: absolute;
	top: 25%;
	left: 25%;
}
#exit-modal{

}
