<!DOCTYPE html>
    <html id = "html">
    <head>
        <meta charset="UTF-8">
        <title>Download</title>
        <link rel="stylesheet" type="text/css" href="../CSS/template.css">
        <link rel="stylesheet" type="text/css" href="../CSS/download.css">
        <script type="text/javascript" src="../JS/template.js"></script>
        <script type="text/javascript" src="../JS/download.js"></script>
        <script type="text/javascript" src="../JS/jquery-3.1.1.min.js"></script>

    </head>
    <body id="body">
        <div id="normal-content">
            <div id="header"></div>
            <div id="nav"></div>
            <div id="content" class="content-ads">
                <p class="active" onclick="chooseAppsDiv()" id="toApps">Apps</p><p onclick="checkoutDiv()" id="toCart">Checkout</p>
                <div id="chooseApps">
                    <div class="categories">
                        <p>Free Apps of the week</p>
                        <div id="freeApps" class="apps" onmouseenter="hover(this)" onmouseleave="unhover(this)">
                            <img src="../Img/spinzer.png">
                            <div class="appDesc">
                                <p>Spin'zer</p>
                                <p>Zirai Studio</p>
                                <p>Rating: 5.0</p>
                            </div>
                            <div class="addToCart" onclick="addToCart(this, false)">
                                <p class="download"><a href="https://drive.google.com/open?id=0BxnkhKT4mtshLUdwNHhxVmVkcFU">Download</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="categories">
                        <p>Social and Communication</p>
                        <div class="apps" onmouseenter="hover(this)" onmouseleave="unhover(this)">
                            <img src="../Img/fb.png">
                            <div class="appDesc">
                                <p>Facebook</p>
                                <p>Facebook</p>
                                <p>Rating: 4.0</p>
                            </div>
                            <div class="addToCart" onclick="addToCart(this, true)">
                                <p class="addButton">Add to Cart</p>
                            </div>
                        </div><!-- 
                     --><div class="apps" onmouseenter="hover(this)" onmouseleave="unhover(this)">
                            <img src="../Img/whatsapp.png">
                            <div class="appDesc">
                                <p>Whatsapp</p>
                                <p>Whatsapp Inc.</p>
                                <p>Rating: 4.4</p>
                            </div>
                            <div class="addToCart" onclick="addToCart(this, true)">
                                <p class="addButton">Add to Cart</p>
                            </div>
                         </div><!-- 
                     --><div class="apps" onmouseenter="hover(this)" onmouseleave="unhover(this)">
                            <img src="../Img/insta.png">
                            <div class="appDesc">
                                <p>Instagram</p>
                                <p>Social and Communication</p>
                                <p>Rating: 4.5</p>
                            </div>
                            <div class="addToCart" onclick="addToCart(this, true)">
                                <p class="addButton">Add to Cart</p>
                            </div>
                         </div><!--  
                     --></div>
                     <div class="categories">
                        <p>Adventure</p>
                        <div class="apps" onmouseenter="hover(this)" onmouseleave="unhover(this)">
                            <img src="../Img/pkmnGo.png">
                            <div class="appDesc">
                                <p>Pokemon GO</p>
                                <p>Niantic Inc.</p>
                                <p>Rating: 4.0</p>
                            </div>
                            <div class="addToCart" onclick="addToCart(this, true)">
                                <p class="addButton">Add to Cart</p>
                            </div>
                        </div><!-- 
                     --><div class="apps" onmouseenter="hover(this)" onmouseleave="unhover(this)">
                            <img src="../Img/growtopia.png">
                            <div class="appDesc">
                                <p>Growtopia</p>
                                <p>Robinson Technologies</p>
                                <p>Rating: 4.1</p>
                            </div>
                            <div class="addToCart" onclick="addToCart(this, true)">
                                <p class="addButton">Add to Cart</p>
                            </div>
                         </div><!-- 
                     --><div class="apps" onmouseenter="hover(this)" onmouseleave="unhover(this)">
                            <img src="../Img/roblox.png">
                            <div class="appDesc">
                                <p>Roblox</p>
                                <p>Roblox Corporation</p>
                                <p>Rating: 4.3</p>
                            </div>
                            <div class="addToCart" onclick="addToCart(this, true)">
                                <p class="addButton">Add to Cart</p>
                            </div>
                         </div><!--  
                     --></div>
                     <div class="categories">
                        <p>Strategy</p>
                        <div class="apps" onmouseenter="hover(this)" onmouseleave="unhover(this)">
                            <img src="../Img/cr.png">
                            <div class="appDesc">
                                <p>Clash Royale</p>
                                <p>Supercell</p>
                                <p>Rating: 4.5</p>
                            </div>
                            <div class="addToCart" onclick="addToCart(this, true)">
                                <p class="addButton">Add to Cart</p>
                            </div>
                        </div><!-- 
                     --><div class="apps" onmouseenter="hover(this)" onmouseleave="unhover(this)">
                            <img src="../Img/coc.png">
                            <div class="appDesc">
                                <p>Clash of Clans</p>
                                <p>Supercell</p>
                                <p>Rating: 4.6</p>
                            </div>
                            <div class="addToCart" onclick="addToCart(this, true)">
                                <p class="addButton">Add to Cart</p>
                            </div>
                         </div><!-- 
                     --><div class="apps" onmouseenter="hover(this)" onmouseleave="unhover(this)">
                            <img src="../Img/pvz.png">
                            <div class="appDesc">
                                <p>Plant vs. Zombie</p>
                                <p>Electronic Arts</p>
                                <p>Rating: 4.4</p>
                            </div>
                            <div class="addToCart" onclick="addToCart(this, true)">
                                <p class="addButton">Add to Cart</p>
                            </div>
                         </div><!--  
                     --></div>
                </div>
                <div id="checkout">
                    <div id="selected">
                        <p id="listHeader">Apps in Cart (click on the app to remove):</p>
                        <ul id="showSelected"></ul>
                    </div><!-- 
                 --><div id="submit">
                        <p id="dlFormHeader1">Please login to continue downloading.</p>
                        <p id="dlFormHeader2">Link to download will be sent to the email shortly after verification</p>
                        <p id="dlFormHeader3">Please ensure to select some Apps before checking out.</p>
                        <form name="orderForm" onsubmit="return validateForm(event)" autocomplete="off" method="post">
                            <span>
                                <label>Email: </label>
                                <input id="email" type="email" name="gender" placeholder="example@example.com">
                            </span>
                            <span>
                                <label>Password: </label>
                                <input id="password" type="password" name="name" placeholder="********">
                            </span>
                            <span>
                                <input type="submit" name="SUBMIT" id="submit">
                            </span>
                        </form>
                     </div>   
                </div>
            </div>
            <div id="ads" class="content-ads"></div>
            <div id="show" onclick="showAds()"></div>
            <div id="footer" onclick='hideFooter(this)'></div>
            <div id="show-footer" onclick="showFooter(this)"></div>
        </div>
        <div id="warning"></div>
    </body>
</html>