<!DOCTYPE html>
	<html id = "html">
	<head>
		<title>Slide show</title>
		<link rel="stylesheet" type="text/css" href="../CSS/template.css">
		<link rel="stylesheet" type="text/css" href="../CSS/slideshow.css">
		<script type="text/javascript" src="../JS/template.js"></script>
		<script type="text/javascript" src="../JS/slideshow.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	</head>
	<body>
		<div id="normal-content">
			<div id="header"></div>
			<div id="nav"></div>
			<div id="content" class="content-ads">
				<p id="slideshow-header">Featured App Trailer</p>
				<div class="video-tabs" id="vid1" >
					<p>Clash of Clans</p>
					<span class="toggle" onclick="changeVid(3)"><</span>
					<video onclick="playPause(this)" id="cocVid" onended="changeVid(2)">
						<source src="../Vid/coc.mp4" type="video/mp4">
					</video>	
					<span class="toggle" onclick="changeVid(2)">></span>
				</div>
				<div class="video-tabs" id="vid2">
					<p>Clash Royale</p>
					<span class="toggle" onclick="changeVid(1)"><</span>
					<video onclick="playPause(this)" id="crVid" onended="changeVid(3)">
						<source src="../Vid/cr.mp4" type="video/mp4">
					</video>
					<span class="toggle" onclick="changeVid(3)">></span>	
				</div>
				<div class="video-tabs" id="vid3">
					<p>Pokemon Go</p>
					<span class="toggle" onclick="changeVid(2)"><</span>
					<video onclick="playPause(this)" id="pkmnVid" onended="changeVid(1)">
						<source src="../Vid/pkmnGo.mp4" type="video/mp4">
					</video>
					<span class="toggle" onclick="changeVid(1)">></span>	
				</div>
			</div>
			<div id="ads" class="content-ads"></div>
			<div id="show" onclick="showAds()"></div>
			<div id="footer" onclick='hideFooter(this)'></div>
			<div id="show-footer" onclick="showFooter(this)"></div>
			<div id="warning"></div>
		</div>
	</body>
</html>